@charset "utf-8";
/* CSS Custom Fields Module */

/*** Admin Editing ***************/

#kontrol #new-field-form {
	position: relative;
	display: none;	
}

#kontrol .field-rows .row-form {
	padding-left: 20px;
	display: none;
}

#kontrol .field-rows .edit-fields {
	position: relative;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
}

#kontrol .field-rows .field-settings {
	position: relative;
	display: none;
	padding: 8px 25px 1px 25px;
	margin: 10px 25px;
	border-left: 1px solid #E0E0E0;	
}


#kontrol .field-rows .field-name {
	position: relative;
	color: #21759B;
	cursor: pointer; 
}


#kontrol .field-rows .rule-set-div {
	position: relative;
	width: 50px;
}

#kontrol .rule-val input[type=text] {
	position: relative;
	height: 2em;
	padding: 0 4px;
}

#kontrol .field-rows .field-rules {
	position: relative;
	border-top: 1px solid #CCC;
	margin: 12px 0 12px 0;
	padding: 12px 0;	
}

#kontrol .field-rows .field-rules .fields {
	position: relative;
	margin-top: 5px;
}

#kontrol .field-rows .label.field-type {
	
}

#kontrol .rule-match {
	position: relative;
	width: 550px;
	margin-top: 5px;
}

#kontrol .field-rows .item.field-rules .fields .field:last-child .rule-set-div select   {
	position: relative;
}

#kontrol .field-rows .save-field {
	font-weight: bold;
	border-color: #000;	
}

#kontrol .field-rows .ajax-loader {
	position: relative;
	margin-top: 7px;	
}

#kontrol .field-hidden {
	zoom: 1; 
	filter: alpha(opacity=50); 
	opacity: 0.5;	
}

#kontrol .large-bot-margin {
	margin-bottom: 6px !important;	
}

#kontrol .cf-pt-label {
	color: #505050;	
}

#kontrol .colour-box {
	position: relative;
	top: 6px;
	height: 12px;
	width: 12px;
	background-color: #fff;
	border: 1px solid black;
	z-index: 99;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#kontrol .settings-tip {
	position: relative;
	display: none;
	padding: 8px 25px 1px 25px;
	margin: 10px 25px;
	border-left: 1px solid #EAEAEA;	
}	

/*** Different CF Field Groups *************/

#kontrol .field-rows .subgroup {
	position: relative;
	background-color: #ededed;
	padding: 8px 15px;
	margin: 10px 25px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	width: 44%;
}

#kontrol .field-rows .date-options-toggle {
	position: relative;
	font-weight: bold;
	cursor: pointer;
}

#kontrol .field-rows .date-options {
	position: relative;
	font-weight: bold;
	padding-left: 20px;
}

#kontrol .field-rows .kontrol-tip {
	position: relative;
	top: 4px;	
}

/*** Image Copies *******************/

#kontrol .field-rows .image-copies {
	position: relative;
	padding: 8px 25px 1px 45px;
	margin: 10px 25px;
	border-left: 1px solid #E0E0E0;	
}

#kontrol .field-rows .image-copies .image-copy .duplicate-copy {
	position: absolute;
	left: -34px;
	top: 12px;
}

#kontrol .field-rows .image-copies .image-copy {
	position: relative;
	border-top: 1px solid #d8d8d8;	
	padding-top: 10px;
	margin-top: 10px;
}

#kontrol .field-rows .image-copies .image-copy:first-child {
	border: 0 none;
	padding: 0;
	margin: 0;	
}

#kontrol .field-rows .image-copies .image-copy:first-child .duplicate-copy {
	top: 2px;	
}

#kontrol .field-rows .image-copies .image-copy .label.copy-key {
	position: relative;
}


/*** Repeatable *********************/

#kontrol .field-rows .repeatable-fields {
	position: relative;
	margin: 20px;
}

#kontrol .field-rows .repeatable-fields .row {
	position: relative;
	margin-left: 0 !important;
}





